[Unit]
Description=A content server for the Gemini protocol

[Service]
WorkingDirectory=/opt/vostok
ExecStart=/usr/bin/env node /opt/vostok/src/vostok.js

Restart=always
RestartSec=5s
StartLimitBurst=3
StartLimitInterval=60

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vostok

EnvironmentFile=/opt/vostok/.env

[Install]
WantedBy=multi-user.target
